.card p{
    font-size: 12px;
}
.card h6{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif, serif;
    letter-spacing: 0px;
    font-weight: bold;
}
.card {
    height: auto;
    margin: 20px;
}
.card .img img{
    object-fit: cover;
    height: 100px;
    width: 150px;
    margin-left: auto;
}
.card .img{
    height: 120px;
    width: 170px;
    display: inline-flex;
    float: right;
    padding: 10px;
}
  
  .problemCard{
    width: auto;
    min-height: 200px;
    background-color: #101010;
    background-image: url("https://www.estidia.eu/wp-content/uploads/2018/04/Savin-NY-Website-Background-Web.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    color: #0f0f0f;
    display: grid;
    grid-template-columns: auto 170px;
    grid-template-rows: 100px auto;
    grid-template-areas: "a b" "c c";
  }
  .card .details{
      grid-area: c;
      padding: 10px;
      margin-top: 10px;
  }

  .problemCard:hover{
    opacity: 1;
    transition: 0.5s ease-in-out;
    padding: 5px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
